<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curso | Tarot transparente</title>
    <link rel="icon" href="../logo.png" />
    <link rel="stylesheet" href="./curso.css" />
    <link rel="stylesheet" href="../styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Headland+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="volver-home">
        <a href="/">Ir al Inicio</a>
      </div>
      <section class="section-main-clase">
        <h1>
          Aprende a leer el Tarot de forma rápida, sencilla y dedicate a esto si
          quieres.
        </h1>
        <div class="cont-iframe">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/dkg-Un0TNcg"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div>
          <ul>
            <li>- Aprende a leer las cartas désde ya.</li>
            <li>- Realiza tu primera lectura ni bien inicies el curso.</li>
            <li>- Método fácil, sencillo y práctico para leer las cartas.</li>
            <li>- Pensado para que te dediques a esto si lo deseas.</li>
          </ul>
          <div class="cont-clases-cursos">
            <h4>7 clases grabadas para verlas las veces que quieras.</h4>
            <h4>
              Tienes mi contacto disponible todo el tiempo para que puedas
              sacarte cualquier duda.
            </h4>
            <h5>¡Te acompaño en todo el proceso, y luego también!</h5>
          </div>
          <p>
            El universo del Tarot es infinito. Los significados, las cartas, el
            simbolismo, la historia.
          </p>
          <p>Puede ser muy complejo si se quiere.</p>
          <p class="txt-dif-2">
            En este curso te enseño a <span>LEER LAS CARTAS</span>. Te muestro
            el uso <span>REAL</span> y <span>PRÁCTICO</span> del Tarot.
          </p>
          <p class="txt-caso">
            Mi caso: Empecé con el Tarot antes de la pandemia y dos años después
            he logrado vivir de esto. Lo que aprendí es que alrededor del Tarot
            existen muchas creencias y prejuicios. La realidad es que el Tarot
            es una herramienta de autoconocimiento muy poderosa, sencilla y
            simple. Luego depende de la responsabilidad de quién lo utilice.
          </p>
          <div class="txt-se-parte">
            <h3>El Tarot es una disciplina que está cambiando el mundo.</h3>
            <h4>
              Estamos en un momento de la sociedad en donde el BUEN uso del
              Tarot está saliendo a la luz.
            </h4>
            <h5>Sé parte de esto.</h5>
          </div>
          <div class="cont-precios">
            <h6>PROMO LANZAMIENTO</h6>
            <p>$3.200 pesos argentinos</p>
            <p>$30 USD dólares</p>
          </div>
          <div class="links-pago-cursos">
            <a href="./pago-argentinos/pago-en-pesos-argentinos.html"
              >Pagar en pesos Argentinos</a
            >
            <a href="./pago-dolares/pago-en-dolares.html">Pagar en dólares</a>
          </div>
        </div>
        <div class="nueva-seccion-txt">
          <h3>¿Qué vas a aprender en este curso?</h3>
          <ul>
            <li>- Memorizar los 78 significados en la misma práctica.</li>
            <li>- ¿Qué mazo elegir? (Si ya tienes, genial).</li>
            <li>- Cómo realizar una lectura ahora mismo.</li>
            <li>- Cómo interpretar una carta en un contexto determinado.</li>
            <li>-Te comparto experiencias personales con el tarot.</li>
            <li>- Cómo interpretar una carta invertida.</li>
            <li>- La mejor lectura que vas a realizar siempre (cruz celta).</li>
            <li>- Cómo tratar a los distintos tipos de consultantes.</li>
            <li>- Cómo cuidarse a uno mismo (distancia con el consultante).</li>
            <li>- Encontrar tu estilo propio como tarotista.</li>
            <li>- Escuchar los mensajes de la intuición.</li>
            <li>
              - Te muestro una SESIÓN REAL para que veas el tarot en la práctica
              y su uso real.
            </li>
            <li>
              - Cómo elaborar una lectura justo para responder a la pregunta del
              consultante
            </li>
            <li>- Consultantes dispuestos a sanar y otros que no.</li>
            <li>- Cómo hacer una lectura general de tres o más cartas.</li>
            <li>- La responsabilidad del consultante.</li>
            <li>- La terapia con el tarot.</li>
            <li>- Tarot predictivo (volverá mi ex?).</li>
            <li>- La magia del tarot.</li>
            <li>- Autoleerse las cartas y su dificultad.</li>
            <li>- Ofrecer tu servicio y contárselo al mundo.</li>
            <li>- “Salir del clóset” con el tarot.</li>
          </ul>
          <div class="dedicado">
            <h4>¿A quién está dirigido?</h4>
            <p>
              A cualquier persona que quiera aprender a LEER LAS CARTAS de
              manera sencilla y práctica.
            </p>
            <p>
              A cualquier persona que le interese el tarot y quiera sumar
              conocimiento.
            </p>
            <p>A quien quiera dedicarse a esto.</p>
          </div>
          <div>
            <p>No hace falta experiencia previa.</p>
            <p>Comienzas de cero y te conviertes en un PROFESIONAL.</p>
          </div>
          <p>
            Este curso nace del permanente y continuo contacto con CONSULTANTES
            (personas que han consultado y requerido la ayuda del tarot), por lo
            que está pensado para que DEDIQUES y vivas de esto, si lo deseas.
          </p>
        </div>
        <div class="cont-precios">
          <h6>PROMO LANZAMIENTO</h6>
          <p>$3.200 pesos argentinos</p>
          <p>$30 USD dólares</p>
        </div>
        <div class="links-pago-cursos">
          <a href="./pago-argentinos/pago-en-pesos-argentinos.html"
            >Pagar en pesos Argentinos</a
          >
          <a href="./pago-dolares/pago-en-dolares.html">Pagar en dólares</a>
        </div>
        <div>
          <p>¿Qué necesitas?</p>
          <p>
            No es necesario que cuentes con un mazo para realizar el curso.
            Luego sí lo necesitaras.
          </p>
          <p>
            Puedes comprar cualquier mazo que sea de tarot. Ejemplos: Rider,
            Waite, Marcella, Egipcio, Thod.
          </p>
          <p>Eso te lo cuento en la primer clase.</p>
          <p>
            En este curso te enseño a leer las clase hoy, mediante un metodo
            sencillo y práctico. No ahondamos en cada Arcano por lo que
            necesitaras los significados de las cartas que están en el mismo
            Tarot o pueden encontrarlos fuera del curso. Son de libre y popular
            conocimiento.
          </p>
          <p>Te hago la mejor recomendación</p>
          <p>Si te lo propones, luego del curso, puedes lograr:</p>
          <ul>
            <li>Ser un profesional</li>
            <li>Dedicarte a ello</li>
            <li>Vivir del Tarot</li>
            <li>Ayudar a muchas personas</li>
          </ul>
          <p>
            A mí, me paso y en este curso trate de sintetizar el conocimiento
            quitando creencias y prejuicios.
          </p>
          <p>Te veo dentro.</p>
          <div>
            <img
              class="img-curso"
              src="../assets/foto-curso.jpeg"
              alt="Foto de perfil en página de curso"
            />
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
