<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curso | Tarot transparente</title>
    <link rel="stylesheet" href="./curso.css" />
    <link rel="stylesheet" href="../styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Headland+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="volver-home">
        <a href="/">Volver</a>
      </div>
      <section class="section-main-clase">
        <h1>
          Aprende a leer el Tarot de forma rápida, sencilla y dedicate a esto si
          quieres.
        </h1>
        <div class="cont-iframe">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/GNIc3HwAZlg"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div>
          <ul>
            <li>- Aprende a leer las cartas desde ya.</li>
            <li>- Realiza tu primera lectura ni bien inicies el curso.</li>
            <li>- Método fácil, sencillo y práctico para leer las cartas.</li>
            <li>- Pensado para que te dediques a esto si lo deseas.</li>
          </ul>
          <div class="cont-clases-cursos">
            <h4>7 clases grabadas para verlas las veces que quieras.</h4>
            <h4>
              Tienes mi contacto disponible todo el tiempo para que puedas
              sacarte cualquier duda.
            </h4>
            <h5>¡Te acompaño en todo el proceso, y luego también!</h5>
          </div>
          <p>
            El universo del Tarot es infinito. Los significados, las cartas, el
            simbolismo, la
          </p>
          <p>Puede ser muy complejo si se quiere.</p>
          <p class="txt-dif-2">
            En este curso te enseño a <span>LEER LAS CARTAS</span>. Te muestro
            el uso <span>REAL</span> y <span>PRÁCTICO</span> del Tarot.
          </p>
          <p class="txt-caso">
            Mi caso: Empecé con el Tarot antes de la pandemia y dos años después
            he logrado vivir de esto. Lo que aprendí es que alrededor del Tarot
            existen muchas creencias y prejuicios. La realidad es que el Tarot
            es una herramienta de autoconocimiento muy poderosa, sencilla y
            simple. Luego depende de la responsabilidad de quién lo utilice.
          </p>
          <div class="txt-se-parte">
            <h3>El Tarot es una disciplina que está cambiando el mundo.</h3>
            <h4>
              Estamos en un momento de la sociedad en donde el uso del Tarot
              está saliendo a la luz.
            </h4>
            <h5>Sé parte de esto.</h5>
          </div>
          <div class="cont-precios">
            <h6>PROMO LANZAMIENTO</h6>
            <p>$3.200 pesos argentinos</p>
            <p>$30 USD dólares</p>
          </div>
          <div class="links-pago-cursos">
            <a href="./pago-argentinos/pago-en-pesos-argentinos.html"
              >Pagar en pesos Argentinos</a
            >
            <a href="./pago-dolares/pago-en-dolares.html">Pagar en dólares</a>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
