.volver-home {
  position: absolute;
  padding: 1.3em;
  font-size: 12px;
}

.volver-home a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.section-main-clase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: var(--second-alpha-color);
  padding: 5em 4em;
}

.section-main-clase h1 {
  font-size: 1.4em;
  margin-bottom: 2em;
  background-color: var(--first-color);
  padding: 1em;
  border-radius: 10px;
  color: white;
}

.section-main-clase ul {
  list-style: none;
  margin: 2em 0;
  padding: 0;
}

.section-main-clase ul li {
  margin: 1em 0;
}

.cont-clases-cursos {
  background-color: var(--second-color);
  font-size: 1.3em;
  width: 70%;
  margin: 2em auto;
  border-radius: 10px;
}

.cont-clases-cursos * {
  padding: 1em 0;
}

.txt-caso {
  width: 70%;
  margin: 2em auto;
}

.txt-se-parte {
  margin: 2em auto;
}

.txt-se-parte * {
  width: 70%;
  margin: 2em auto;
  font-size: 1.3em;
}

.cont-precios {
  width: 40%;
  margin: 2em auto;
  font-size: 1.4em;
  background-color: var(--first-color);
  padding: 1em;
  color: white;
}

.cont-precios h6 {
  font-size: 1.3em;
}

.links-pago-cursos a {
  display: inline-block;
  text-decoration: none;
  padding: 1em;
  border-radius: 10px;
  margin: 0.5em;
  width: 270px;
  background-color: var(--second-color);
}

/* Nueva sección textos cursos */

.nueva-seccion-txt {
  width: 70%;
  margin: 2em auto;
}

.dedicado {
  background-color: var(--second-color);
  padding: 1em;
  border-radius: 10px;
  margin: 2em 0;
  color: white;
}

.img-curso {
  width: 600px;
}


@media (max-width: 480px) {
  .section-main-clase {
    padding: 4em 2em;
  }
  .cont-iframe {
    width: 100%;
  }
  iframe {
    width: 100%;
  }

  .section-main-clase ul {
    padding: 0;
  }

  .cont-clases-cursos {
    width: 90%;
    padding: 1em;
  }

  .txt-caso {
    width: 90%;
  }
  .txt-se-parte {
    width: 100%;
    font-size: 0.8em;
    margin: 3em auto;
  }

  .txt-se-parte * {
    width: 90%;
    margin: 1em auto;
  }

  .cont-precios {
    width: 90%;
  }

  .links-pago-cursos a {
    width: 100%;
  }

  .nueva-seccion-txt {
    width: 90%;
    margin: 2em auto;
  }
}
