<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pago en dólares</title>
    <link rel="icon" href="../../logo.png" />
    <link rel="stylesheet" href="pago-en-dolares.css" />
    <link rel="stylesheet" href="../../styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Headland+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="volver-home">
        <a href="/">Volver</a>
      </div>
      <section class="cont-main-pagos">
        <div class="bg-txt">
          <h3>Instrucciones para realizar el pago en dólares</h3>
          <ul>
            <li>1. 1. Selecciona "Realizar pago"</li>
            <li>2. En la nueva pestaña selecciona "Enviar"</li>
            <li>
              3. Si no has ingresado, deberás ingresar a tu cuenta de PayPal o
              crearte una (te llevará un minuto)
            </li>
            <li>
              4. Coloca el monto de la sesión que has elegido y en la nota de
              pago ingresa tu número completo de teléfono o tu correo
              electrónico.
            </li>
            <li>
              A los pocos minutos me pondré en contacto contigo para coordinar
              la sesión, o si lo deseas puedes dejarme un mensaje en WhatsApp:
              <a href="https://wa.link/9a30ni" target="_blank"
                >https://wa.link/9a30ni</a
              >
            </li>
          </ul>
          <div class="link-pagos">
            <a
              href="https://www.paypal.me/tarotdejuanpablo"
              target="_blank"
              rel="noreferrer"
              >Realizar pago</a
            >
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
