<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pago en dólares</title>
    <link rel="icon" href="../../logo.png" />
    <link rel="stylesheet" href="pago-en-dolares.css" />
    <link rel="stylesheet" href="../../styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Headland+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="volver-home">
        <a href="/views/curso.html">Volver</a>
      </div>
      <section class="cont-main-pagos">
        <div class="bg-txt">
          <h3>Instrucciones para realizar el pago en dólares</h3>
          <ul>
            <li>1. Selecciona "Pagar en dólares"</li>
            <li>2. En la nueva pestaña selecciona "Enviar"</li>
            <li>
              3. Si no has ingresado, deberás ingresar a tu cuenta de PayPal
            </li>
            <li>
              4. Coloca el monto (30 USD) y en la nota de pago ingresa tu número
              completo de teléfono y tu correo electrónico (IMPORTANTE).
            </li>
            <li>
              A los pocos minutos me pondré en contacto contigo para brindarte
              acceso al curso.
            </li>
          </ul>
          <div class="link-pagos">
            <a
              href="https://www.paypal.me/tarotdejuanpablo"
              target="_blank"
              rel="noreferrer"
              >Pagar en dólares</a
            >
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
