<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clases Tarot Transparente</title>
  <link rel="icon" href="../../logo.png" />
  <link rel="stylesheet" href="styleIndex.css">
</head>
<body>
  <section>
    <button id="btn-close">Cerrar sesión</button>
  <h2>Video 0</h2>
    <div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/bZedp0uw8b4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

  <h2>Video 1</h2>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bV4M0GPNToo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <h2>Video 2</h2>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7ElmYr5LtYI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <h2>Video 3</h2>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mv6kQ5g9_xM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <h2>Video 4</h2>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/H9fGzhSnwCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <h2>Video 5</h2>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uR3oRdTsvwc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <h2>Video 6</h2>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DdTaTPuf3Rc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <h2>Video 7</h2>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/XBrDpCUzaDI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>
  </div>
  <script src="../../app/closeSecion.js" type="module"></script>
</body>
</html>