<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pago en pesos argentinos</title>
    <link rel="icon" href="../../logo.png" />
    <link rel="stylesheet" href="pago-en-pesos-argentinos.css" />
    <link rel="stylesheet" href="../../styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Headland+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="volver-home">
        <a href="/views/curso.html">Volver</a>
      </div>
      <section class="cont-main-pagos">
        <div class="bg-txt">
          <h3>Instrucciones para realizar el pago con pesos argentinos</h3>
          <ul>
            <li>1. Hace click en "Pagar en pesos argentinos"</li>
            <li>2. Selecciona el medio de pago y realiza el mismo</li>
            <li>
              3. Una vez aprobado el pago selecciona "Continuar" en el celular o
              "Volver al sitio" desde una computadora
            </li>
            <li>
              La última acción te redirigirá a mi WhatsApp donde daré el acceso
              al curso
            </li>
          </ul>
          <div class="link-pagos">
            <a href="https://mpago.la/1ScgYrd" target="_blank" rel="noreferrer"
              >Pagar en pesos argentinos</a
            >
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
